@model IEnumerable<DessertTaCeinture.WEB.Models.News.NewsModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>News :</h3>
<p class="pull-right">
    <a href="@Url.Action("Create","News")"><img src="~/Content/images/keys/plus.png" /></a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Summary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            Actions
        </th>
    </tr> 

    @foreach (var item in Model)
    {
        <tr>
            <td width="10%">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td width="10%">
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td width="30%">
                <div style="max-height : 150px; overflow-y:scroll;">
                    @Html.DisplayFor(modelItem => item.Summary)
                </div>
            </td>
            <td width="30%">
                <div style="max-height : 150px; overflow-y:scroll;">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
            </td>
            <td width="10%">
                @item.ReleaseDate.ToString("dd/MM/yyyy")
            </td>
            <td width="10%">
                <a href="@Url.Action("Edit","News", new { id = item.Id })"><img src="~/Content/images/keys/edit.png" /></a>&nbsp;
                <a href="@Url.Action("Details","News", new { id = item.Id })" target="_blank"><img src="~/Content/images/keys/eye.png" /></a>&nbsp;
                <a href="@Url.Action("Delete","News", new { id = item.Id })"><img src="~/Content/images/keys/garbage.png" /></a>
            </td>
        </tr>
    }
</table>
