@model List<DessertTaCeinture.WEB.Models.Recipe.RecipeModel>

@{
    ViewBag.Title = "Mes recettes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gtco-loader"></div>
<div id="page">
    <header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url(../../Content/images/backgrounds/4249962.jpg)" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row row-mt-15em">
                        <div class="col-md-12 animate-box">
                            <div class="form-wrap">
                                <div class="tab">
                                    <div class="tab-content">                                        
                                        @if (Model != null)
                                        {
                                            <table class="table">
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Title)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.CreationDate)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.OriginId)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.CategoryId)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ThemeId)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.IsPublic)
                                                        </td>
                                                        <td>
                                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                                        </td>
                                                    </tr>
                                                }
                                            </table>
                                        }
                                        else
                                        {
                                            <h3 class="cursive-font col-md-offset-3">Vous n'avez pas encore de recette ! Créez en une @Html.ActionLink("ici", "Create")</h3>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>

