@model DessertTaCeinture.WEB.Models.Rate.RateModel

<div class="col-md-12" id="rateSection">
    <div class="col-md-7">
        <img src="~/Content/images/keys/isactive.png" />&nbsp;<small>Avis enregistré le @Model.Date.ToString("dd MMMM yyyy")</small>
    </div>
    <div class="col-md-5 pull-right">
        @for (int i = 1; i < 6; i++)
        {
            if (i <= Model.RateOnFive)
            {
                <img class="star" src="~/Content/Images/recipes/star2.gif" id='rate_@i' onmouseover="rate(@i)" height="25" width="25" />
            }
            else
            {
                <img class="star" src="~/Content/Images/recipes/star1.gif" id='rate_@i' onmouseover="rate(@i)" height="25" width="25" />
            }
        }
    </div>
    <br />
    <br />
    <div class="col-md-12">
        @Html.TextAreaFor(model => model.Commentary, new { @class = "form-control", rows = 5, style = "resize:none;", id = "txtAreaCommentary", aria_required = true })
        <div class="pull-right" style="margin-top:25px;">
            <input type="button" id="EditBtn" value="Editer" class="btn btn-primary" onclick="editRate()" />
            <input type="button" id="DeleteBtn" value="Supprimer" class="btn btn-primary" onclick="if(confirm('Êtes-vous sûr de supprimer votre avis ?'))deleteRate()" />
        </div>
    </div>
    <br />
</div>


<script type="text/javascript">
    var done = false
    var pic = new Array();
    pic[0] = new Image();
    pic[0].src = "@Url.Content("~/Content/images/recipes/star1.gif")";
    pic[1] = new Image();
    pic[1].src = "@Url.Content("~/Content/images/recipes/star2.gif")";
    var currentLevel = @Model.RateOnFive;


    function rate(level)
    {
        for (i = 1; i < 6; i++)
        {
            document.getElementById('rate_' + i).src = (level < i) ? pic[0].src : pic[1].src;
        }
        currentLevel = level;
    }
    function editRate()
    {
        var recipeId = @Model.RecipeId;
        var userId = @Model.UserId;
        var commentary = document.getElementById("txtAreaCommentary").value;
        var rateOnFive = currentLevel;

        $.ajax({
            type: 'POST',
            url: '/Rate/Edit?recipeId=' + recipeId +
                             '&userId=' + userId +
                             '&commentary=' + commentary +
                             '&rateOnFive=' + rateOnFive
        }).success(function (partialView)
        {
                $('#rateSection').replaceWith(partialView)
            });
    }
    function deleteRate()
    {
        $.ajax({
            type: 'POST',
            url: '/Rate/Delete?recipeId=' + @Model.RecipeId + '&userId=' + @Model.UserId
        }).success(function (partialView) {
                $('#rateSection').replaceWith(partialView)
            });
    }
</script>
