<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/font/css")
    @Styles.Render("~/Content/template")
    @Styles.Render("~/Content/css")
</head>

<body>
    <nav class="gtco-nav" role="navigation">
        <div class="gtco-container">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <div id="gtco-logo"><a href="@Url.Action("Index","Home")">Dessert Ta Ceinture <em>.</em></a></div>
                </div>
                <div class="col-xs-9 menu-1 text-right">
                    <ul>
                        <li class="link"><a href="@Url.Action("Index","Home")">Accueil</a></li>
                        <li class="link"><a href="@Url.Action("Recipes","Home")">Recettes</a></li>
                        <li class="link"><a href="@Url.Action("News","Home")">News</a></li>
                        <li class="link"><a href="#">Desserts au top</a></li>
                        <li class="link"><a href="#">Recette au hasard</a></li>
                        @if (Session["loggedUser"] != null || Session["loggedAdmin"] != null)
                        {
                        <li class="has-dropdown">
                            <a href="#">@Session["loggedUserName"]</a>
                            <ul class="dropdown">
                                <li><a href="@Url.Action("Details","User")">Mon profil</a></li>
                                <li><a href="@Url.Action("Index","Recipe")">Mes recettes</a></li>
                                <li><a href="@Url.Action("Logout","User")">Se déconnecter</a></li>
                            </ul>
                        </li>                            
                        }
                        else
                        {
                            <li class="btn-cta" id="modalLogin"><a href="@Url.Action("Login","User")"><span>Se connecter</span></a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div id="modalDivLogin" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="modal-content-login" class="modal-body">
                </div>
            </div>
        </div>
    </div>

    @RenderBody()

    <footer id="gtco-footer" role="contentinfo" style="background-image: url(../../Content/images/backgrounds/orange-gradiant.jpg); padding:0 0">
        <div class="gtco-container">
            <div class="row row-pb-md">
                <div class="col-md-12 text-center">
                    <div class="gtco-widget" style="margin-top:25px;">
                        <h3>Nous suivre</h3>
                        <div class="col-md-12 text-center" style="margin-top:25px;">
                            <ul class="gtco-social-icons">
                                <li><a target="_blank" href="https://fr-fr.facebook.com/"><img src="~/Content/images/social/facebook.png" /></a></li>
                                <li><a target="_blank" href="https://www.instagram.com/?hl=fr"><img src="~/Content/images/social/instagram.png" /></a></li>
                                <li><a target="_blank" href="https://www.pinterest.fr/"><img src="~/Content/images/social/pinterest.png" /></a></li>
                                <li><a target="_blank" href="https://plus.google.com/discover"><img src="~/Content/images/social/google-plus.png" /></a></li>
                                <li><a target="_blank" href="https://fr.linkedin.com/"><img src="~/Content/images/social/linkedin.png" /></a></li>
                            </ul>
                        </div>                        
                        <div class="col-md-12 text-center copyright">
                            <h4 class="" style="color : white;">&copy; @DateTime.Now.Year Dessert Ta Ceinture.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer> 


    <div class="gototop js-top">
        <a href="#" class="js-gotop"><img src="~/Content/images/keys/key-console.png" /></a>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")

    <script>
        $(document).ready(function () {
            $("#modalLogin > a").on("click", function (e) {
                e.preventDefault();
                var modal = $("#modalDivLogin");
                var contentModal = $("#modal-content-login");
                $.ajax({
                    url: "@Url.Action("LoginForm", "User", null)",
                    success: function (data) {
                        contentModal.html(data);
                        modal.modal();
                    }
                })
            });

            $('.menu-1 .link a').filter(function () {
                return this.href === location.href;
            }).addClass('navActive');
        });
    </script>
</body>
</html>
