<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/font/css")
    @Styles.Render("~/Content/template")
    @Styles.Render("~/Content/css")
</head>

<body>
    <nav class="gtco-nav" role="navigation">
        <div class="gtco-container">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <div id="gtco-logo"><a href="@Url.Action("Index","Home")">Dessert Ta Ceinture <em>.</em></a></div>
                </div>
                <div class="col-xs-8 text-right menu-1">
                    <ul>
                        <li><a href="@Url.Action("Recipes","Home")">Recettes</a></li>
                        <li class="has-dropdown">
                            <a href="#">Accès rapide</a>
                            <ul class="dropdown">
                                <li><a href="#">Les recettes les mieux notées</a></li>
                                <li><a href="#">Item 2</a></li>
                                <li><a href="#">Item 3</a></li>
                                <li><a href="#">Item 4</a></li>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                        @if (Session["loggedUser"] != null && Session["loggedModerator"] == null && Session["loggedAdmin"] == null)
                        {
                            <li class="btn-cta"><a href="@Url.Action("Details","User")"><span>Mon profil</span></a></li>
                            <li class="btn-cta"><a href="@Url.Action("Logout","User")"><span>Se déconnecter</span></a></li>
                        }
                        else if (Session["loggedUser"] != null && Session["loggedModerator"] != null)
                        {
                            <li class="btn-cta"><a href="#"><span>Modération</span></a></li>
                            <li class="btn-cta"><a href="@Url.Action("Logout","User")"><span>Se déconnecter</span></a></li>
                        }
                        else if (Session["loggedUser"] != null && Session["loggedAdmin"] != null)
                        {
                            <li class="btn-cta"><a href="#"><span>Administration</span></a></li>
                            <li class="btn-cta"><a href="@Url.Action("Logout","User")"><span>Se déconnecter</span></a></li>
                        }
                        else
                        {
                            <li class="btn-cta" id="modalLogin"><a href="@Url.Action("Login","User")"><span>Se connecter</span></a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div id="modalDivLogin" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="modal-content-login" class="modal-body">
                </div>
            </div>
        </div>
    </div>

    @RenderBody()

    <footer id="gtco-footer" role="contentinfo" style="background-image: url(../../Content/images/backgrounds/linear-gradient.png)">
        <div class="gtco-container">
            <div class="row row-pb-md">
                <div class="col-md-12 text-center">
                    <div class="gtco-widget">
                        <h3>Nous suivre</h3>
                        <ul class="gtco-social-icons">
                            <li><a target="_blank" href="https://fr-fr.facebook.com/"><img src="~/Content/images/social/facebook.png" /></a></li>
                            <li><a target="_blank" href="https://www.instagram.com/?hl=fr"><img src="~/Content/images/social/instagram.png" /></a></li>
                            <li><a target="_blank" href="https://www.pinterest.fr/"><img src="~/Content/images/social/pinterest.png" /></a></li>
                            <li><a target="_blank" href="https://plus.google.com/discover"><img src="~/Content/images/social/google-plus.png" /></a></li>
                            <li><a target="_blank" href="https://fr.linkedin.com/"><img src="~/Content/images/social/linkedin.png" /></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 text-center copyright">
                    <small class="block" style="color : white;">&copy; 2018 Dessert Ta Ceinture. All Rights Reserved.</small>
                </div>
            </div>
        </div>
    </footer> 


    <div class="gototop js-top">
        <a href="#" class="js-gotop"><img src="~/Content/images/keys/key-console.png" /></a>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")

    <script>
        $(document).ready(function () {
            $("#modalLogin > a").on("click", function (e) {
                e.preventDefault();
                var modal = $("#modalDivLogin");
                var contentModal = $("#modal-content-login");
                $.ajax({
                    url: "@Url.Action("LoginForm", "User", null)",
                    success: function (data) {
                        contentModal.html(data);
                        modal.modal();
                    }
                })
            })
        });
    </script>
</body>
</html>
