<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dessert Ta Ceinture</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/font/css")
    @Styles.Render("~/Content/template")
    @Styles.Render("~/Content/css")
</head>

<body>
    <nav class="gtco-nav" role="navigation">
        <div class="gtco-container">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <div id="gtco-logo"><a href="#">Dessert Ta Ceinture <em>.</em></a></div>
                </div>
                <div class="col-xs-8 text-right menu-1">
                    <ul>
                        <li><a href="#">Menu</a></li>
                        <li class="has-dropdown">
                            <a href="#">DropDownList</a>
                            <ul class="dropdown">
                                <li><a href="#">Item 1</a></li>
                                <li><a href="#">Item 2</a></li>
                                <li><a href="#">Item 3</a></li>
                                <li><a href="#">Item 4</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Contact</a></li>
                        <li class="btn-cta"><a href="#"><span>Se connecter</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    @RenderBody()

    <footer id="gtco-footer" role="contentinfo" style="background-image: url(~/Content/images/img_bg_3.jpg)" data-stellar-background-ratio="0.5">
        <div class="gtco-container">
            <div class="row row-pb-md">
                <div class="col-md-12 text-center">
                    <div class="gtco-widget">
                        <h3>Contactez-nous</h3>
                        <ul class="gtco-quick-contact">
                            <li><a href="#">+1 234 567 890</a></li>
                            <li><a href="#">info@DessertTaCeinture.be</a></li>
                        </ul>
                    </div>
                    <br/>
                    <div class="gtco-widget">
                        <h3>Nous suivre</h3>
                        <ul class="gtco-social-icons">
                            <li><a href="#"><img src="~/Content/images/social/facebook.png"/></a></li>
                            <li><a href="#"><img src="~/Content/images/social/instagram.png" /></a></li>
                            <li><a href="#"><img src="~/Content/images/social/pinterest.png" /></a></li>
                            <li><a href="#"><img src="~/Content/images/social/google-plus.png" /></a></li>
                            <li><a href="#"><img src="~/Content/images/social/linkedin.png" /></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 text-center copyright">
                    <small class="block">&copy; 2018 Dessert Ta Ceinture. All Rights Reserved.</small>
                </div>
            </div>
        </div>
    </footer>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><img src="~/Content/images/keys/key-console.png" /></a>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")

</body>
</html>
