@model DessertTaCeinture.WEB.Models.News.NewsModel

<div class="col-lg-4 col-md-4 col-sm-6" style="height: 550px; margin-top: 50px;">
    <a href="@Url.Action("Details", "News", new { id = Model.Id})" class="fh5co-card-item">
        <figure>
            <img src="@Model.ImageUrl" alt="Image" class="img-responsive">
        </figure>
        <div class="fh5co-text">
            <h2>@Model.Title</h2>
            <p>@Model.ReleaseDate.ToString("dd/MM/yyyy")</p>
            <div style="height: 150px; overflow: hidden;">
                <p>@Model.Summary</p>
            </div>
            <p><span class="price cursive-font">Voir</span></p>
        </div>
    </a>
</div>
